.App{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRycLIkGZpdHshE84X5_7g0ayUAugVjDx7tcA&usqp=CAU");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

