

.air-quality-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .air-quality-data {
    margin-top: 10px;
  }
  
  .air-quality-data p {
    margin: 5px 0;
  }
  
  .loading-message {
    font-style: italic;
    color: #888;
  }
  
.air-poll{
  padding: 14px;
  font-size: 25px;
}