.weather-data-group{
    border: 1px solid red;

}

.weather-location-group{
    display: flex;
    gap: 32px;
    background-color: white;
    padding: 0px 32px;
    border-bottom: 3px solid black;
}

.temp-group{
    font-size: 28px;
    font-weight: 800;
    display: flex;
    margin-left: 50px;
}

.input {
    text-align: center;
    padding: 16px;
    width: 80%;
    margin: 30px;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
}

.input:focus {
    outline: none;
}