.weather-data-group {
    /* border: 1px solid red; */

}

.weather-location-group {
    display: flex;
    gap: 32px;
    background-color: white;
    padding: 0px 32px;
    border-bottom: 3px solid black;
}

.input {
    text-align: center;
    padding: 16px;
    width: 80%;
    margin: 30px;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
}

.input:focus {
    outline: none;
}

.temp {
    font-size: 28px;
    font-weight: 100px;
    margin-right: 50%;
    flex-direction: column;
    display: flex;
}

.Humidity{
    margin-right: 50px;
    font-size: 28px;
    font-weight: 100px;
    flex-direction: column;
    display: flex;
}

.Speed {
    margin-left: 50px;
    font-size: 28px;
    font-weight: 100px;
    flex-direction: column;
    display: flex;
}

.Min{
    margin-left: 50px;
    font-size: 28px;
    font-weight: 100px;
    flex-direction: column;
    display: flex;
}

.temp-num{
    margin-left: 200px;
    font-size: 28px;
    font-weight: 100px;
    flex-direction: column;
    display: flex;
}